---
ansible_ssh_port: 22

# password for admin, PKI and DS
default_password: password 
vault_ipaserver_dir_admin_password: "{{ default_password }}"
vault_ipaserver_admin_password: "{{ default_password }}"

use_kkdcp: false
http_keytab: /etc/httpd/conf/http.keytab
package_install: true
package_upgrade: false

ipa_data_dir: /Users/aweng/git/ipserver/ipadata

ipaserver_domain: darpa.dsra.io
ipaserver_dns_forwarder: 10.105.255.250
ipaserver_realm: DARPA.DSRA.IO
ipaserver_setup_dns: True
ipaserver_setup_ntp: True
ipaserver_setup_ca: True
ipaserver_ssh_trust_dns: True
ipaserver_ui_redirect: True
ipaserver_configure_ssh: True
ipaserver_configure_sshd: True
ipaserver_mkhomedir: True
#only set this to true, if you want to do a clean reinstall of IPA server/replica
force_uninstall: True

#enable migrate for other IPA master
enable_4.3: False
migrate_enable: True
migrateSrc_ipa_dir_admin_password: "{{ default_password }}"
migrateSrc_host: 10.1.90.11
migrateCmd: ipa migrate-ds --bind-dn="cn=Directory Manager"  --user-container=cn=users,cn=accounts --group-container=cn=groups,cn=accounts --group-objectclass=posixgroup --user-ignore-attribute={krbPrincipalName,krbextradata,krblastfailedauth,krblastpwdchange,krblastsuccessfulauth,krbloginfailedcount,krbpasswordexpiration,krbticketflags,krbpwdpolicyreference,mepManagedEntry} --user-ignore-objectclass=mepOriginEntry --with-compat  ldap://
migrateCmdFile: /root/migrate.sh
